body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    color: #222;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    text-align: center;
    background: #222;
    color: white;
    padding:1px;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.post {
    background: white;
    margin-bottom: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    text-decoration: none;
}

a{
    text-decoration: none;
}

.post a {
    color: #0077cc;
    text-decoration: none;
}

.post a:hover {
    text-decoration: underline;
}

.date {
    font-size: 0.9em;
    color: gray;
}

footer {
    text-align: center;
    padding:3px;
    background: #222;
    color: white;
}
